<html>
  <head>
    <title>API for cdp</title>
  </head>

  <body style="background-color:  #e6ffff">
    <div>
    <img style="margin-left: 750px;margin-top: 250px;" class="logo" src="images/AgarathiLogo.png" alt="My_Logo">
    <h1 style="margin-left: 500px;font-size: 50px;font-style: italic;">Welcome to API Agarathi</h1>


    </div>
    <div
      id="main"
      style="
        margin: auto;
        width: 60%;
        color: black;
        padding: 25 px;
        padding: 16px;
        margin-top: 20%;
      "
    >
    </div>
  </body>
</html>

